.container {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

#com {
    height: 300px;
    line-height: 300px;
    font-size: 250px;
    user-select: none;
}

#result {
    position: absolute;
    top: 120px;
    width: 300px;
    font-size: 50px;
    color: #ffffff;
    opacity: 0.8;
}

#start {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 200px;
    width: 200px;
    line-height: 200px;
    font-size:  60px;
    border-radius: 50%;
    background-color: #00ff33;
    box-shadow: 0 7px #00cc33;
    border: 2px solid #00cc33;
    cursor: pointer;
    opacity: 0.7;
}

#start:hover {
    opacity: 1;
}

#start:active {
    margin-top: 5px;
    box-shadow: 0 2px #00cc33;
}

#oneMore {
    position: absolute;
    top: 210px;
    left: 60px;
    line-height: 50px;
    padding: 20px;
    opacity: 0.7;
    font-size: 30px;
    user-select: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: orange;
}

#oneMore:hover {
    opacity: 0.9;
}

#oneMore:active {
    margin-top: 5px;
    box-shadow: 0 2px #00cc33;
}

#message {
    font-size: 20px;
    padding: 5px;
}

.btn {
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    font-size: 60px;
    float: left;
    background-color: #ffffcc;
    box-shadow: 0 5px #ffff66;
    opacity: 0.7;
}

.btn:hover {
    opacity: 1;
}

#paper {
    margin: 0 30px;
}

.btn.pushed{
    box-shadow: 0 2px #ff0000;
    margin-top: 3px;
    background-color: #ff3366;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.showWin {
    visibility: visible;
    background-color: #ff0000;
}