#heading {
    text-align: center;
    margin-top: 30px;
}

.main {
    font-size: 24px;
    letter-spacing: 7px;
}

.title {
    font-size: 42px;
}

.sub {
    font-size: 18px;
}

#field {
    margin: 20px auto;
    width: 754px;
    height: 328px;
    text-align: center;
}

#startBtn {
    margin: 20px auto;
    height: 200px;
    width: 200px;
    line-height: 200px;
    font-size:  60px;
    user-select: none;
    border-radius: 50%;
    background-color: #00ff33;
    box-shadow: 0 7px #00cc33;
    border: 2px solid #00cc33;
    cursor: pointer;
    opacity: 0.7;
}

#startBtn:hover {
    opacity: 1;
}
#startBtn:active {
    margin-top: 25px;
    box-shadow: 0 2px #00cc33;
}

.card {
    width: 50px;
    height: 70px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px 3px;
    float: left;
    cursor: pointer;
    line-height: 28px;
    font-size: 32px;
    font-weight: bold;
    user-select: none;
}

.card span {
    font-size: 18px;
    pointer-events: none;
}

.back {
    background-image: url('back.jpg');
    background-size: 50px 70px;
}

.done {
    visibility: hidden;
}

.result {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 12px;
    padding-top: 100px;
}

.result span {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0px;
}

#timer {
    text-align: right;
    width: 700px;
    margin: 0 auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}