@import url('https://fonts.googleapis.com/css?family=Roboto|Rock+Salt');

* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
}


.wrapper-style {
    max-width: 110rem;
    margin: 0 auto;
}

.top {
    background-image: url('img/top.jpeg');
    background-size: cover;
    height: 80vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.top__logo {
    font-size: 2.2rem;
    letter-spacing: .2rem;
    display: flex;
    align-items: center;
}

.top__navigation {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.top__navigation li {
    margin-right: 1.5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: .3rem;
    background-color: #666;
    cursor: pointer;
}

.top__navigation li:last-child {
    margin-right: 0;
}

.top__wrapper {
    max-width: 85rem;
    margin: 0 auto;
}

.top__title__container {
    padding: 1.6rem;
}

.top__title__heading {
    font-size: 4rem;
    letter-spacing: .5rem;
    padding: 1.4rem;
    font-family: 'Rock Salt', cursive;
}

.top__title__lead {
    font-size: 1.6rem;
}

.top__search__container {
    margin: 0 auto;
}

.top__search__input {
    width: 77%;
    border-radius: .5rem;
    padding: 1.4rem 0;
    font-size: 1.4rem;
}

.top__search__submit {
    color: #fff;
    background-color: #FF773E;
    border-radius: .5rem;
    width: 20%;
    padding: 1.2rem;
    margin: 3rem auto;
    font-size: 1.6rem;
}

.top__item__container {
    width: 29%;
    margin: 0 auto 15rem;
}

.top__item {
    font-size: 1.1rem;
}

.top__item__description {
    font-size: 1.3rem;
    padding-top: .8rem;
}

.top__checkbox__container {
    max-width: 14rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.top__checkbox {
    padding: .8rem;
    border: .2rem solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.state_checked {
    background-color: #fff;
}